.Add_btn {
  width: 30px;
  height: 20px;
  background-color: aquamarine;
  position: absolute;
  right: 50%;
}

.openedModal {
  position: fixed;
  left: 220px;
  top: 170px;
  width: 80%;
  height: 70%;
  background-color: aqua;
  z-index: 10;
}