@mixin hoverStyles {
  &:hover {
    color: var(--bs-link-hover-color);
    cursor: pointer;
  }
}

.textLink {
  color: inherit;
  text-decoration: inherit;
}

/* HEADER */
.Main-header {
  position: relative;
  height: 100px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #3b6ba5;
  z-index: 2;

  .logo {
    position: absolute;
    font-size: 30px;
    left: 0;

    :hover {
      cursor: pointer;
    }
  }

  .alarmNote {
    position: absolute;
    top: 10px;
    right: 100px;
  }

  .openAlarmBack {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
  }
  
  .openAlarm {
    position: fixed;
    left: 25%;
    top: 30%;
    width: 50%;
    background-color: white;
    z-index: 1000;
    border-radius: 20px;
  
    .modalHeader {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      font-weight: bold;
      background-color: #6B99C3;
      border-radius: 20px 20px 0 0;
    }

    button {
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 70%;
      border-radius: 5px;
      width: 45px;
      border: 0;
      color: #FFFFFF;
      background-color: #0D6EFD;
    }
  
    .alarmTitle {
      margin-left: 10px;
      margin-top: 5px;
      width: 85%;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    footer {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 15px;
    }
  }

  .sidebarBtn{

    .sidebar {
      position: absolute;
      right: 0;
    }

    .openedSideBar {
      position: fixed;
      width: 235px;
      min-height: 300px;
      right: 5%;
      position: fixed;
      z-index: 10;
      border-radius: 15px;
      background-color: #47608C;

      .modalHeader {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: #356093;
        border-radius: 15px 15px 0 0;

        div {
          margin-top: 5px;
          margin-bottom: 5px;
          margin-left: 10%;
          font-weight: bold;
          color: #FFFFFF;
        }

        button {
          margin-top: 5px;
          margin-bottom: 5px;
          margin-left: 40%;
          border-radius: 5px;
          width: 45px;
          border: 0;
          color: #FFFFFF;
          background-color: #0D6EFD;
        }
      }

      main {

        ul {
          padding-left: 0;
          display: flex;
          flex-direction: column;

          li {
            width: 100%;
            margin-top: 10px ;
            margin-left: 10%;

            button {
              width: 80%;
            }
          }
        }
      }

      footer {
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
          margin-top: 5px;
          margin-bottom: 5px;
          width: 70%;
          border-radius: 10px;
          border: 0;
          background-color: #0D6EFD;
          color: #FFFFFF;
        }

        a {
          text-decoration: none;
          color: #FFFFFF;
        }
      }
    }
  }

  .openedCrew {
    position: fixed;
    width: 20%;
    min-width: 200px;
    right: 5%;
    position: fixed;
    z-index: 10;
    border-radius: 15px;
    background-color: #47608C;

    .modalHeader {
      display: flex;
      flex-direction: row;
      width: 100%;
      background-color: #356093;
      border-radius: 15px 15px 0 0;

      div {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10%;
        font-weight: bold;
        color: #FFFFFF;
      }

      button {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 40%;
        border-radius: 5px;
        width: 45px;
        border: 0;
        color: #FFFFFF;
        background-color: #0D6EFD;
      }
    }

    main {

      .UserInProject {
        margin: 10px 0;
        color: #FFFFFF;
      }
    }
  }

  .openGetInviteCodeBack {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  }
  
  .openGetInviteCode {
    position: fixed;
    left: 25%;
    top: 30%;
    width: 50%;
    height: 115px;
    background-color: white;
    z-index: 1000;
    border-radius: 20px;
  
    .modalHeader {
      padding-top: 3px;
      padding-left: 10px;
      font-weight: bold;
      background-color: #6B99C3;
      border-radius: 20px 20px 0 0;
    }
  
    .Get_InviteCode {
      margin-left: 10px;
      margin-top: 5px;
      width: 80%;
      max-width: calc(100% - 140px);
    }
  
    .copy {
      margin-left: 10px;
    }
  
    footer {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 15px;
  
      .close {
        margin-top: 2px;
        margin-right: 5%;
      }
    }
  }

  .UserInProject {
    text-align: center;
  }
  
  .UserInProjectProfileImg {
    width: 110px;
    height: 110px;
    border-radius: 100px;
  }
}


/* MAIN */
.Main-mainbody {
  position: relative;
  display: flex;
  min-height: calc(100vh - 100px);

  .Main-interface {
    position: relative;
    left: 0;
    width: 200px;
    z-index: 1;
    background-color: #6B99C3;
    border-radius: 5px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;

    .Main-notice {
      position: absolute;
      top: 1%;
      left: 5%;
      width: 90%;
      height: 8%;
      padding: 1%;
      box-sizing: border-box;
      border: 1px solid black;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      @include hoverStyles()
    }

    .Main-calendar {
      position: absolute;
      top: 10%;
      left: 5%;
      width: 90%;
      height: 8%;
      padding: 1%;
      box-sizing: border-box;
      border: 1px solid black;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    
      @include hoverStyles()
    }

    .Main-mydocument {
      position: absolute;
      top: 19%;
      left: 5%;
      border-radius: 15px;
      width: 90%;
      height: 8%;
      padding: 1%;
      box-sizing: border-box;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      
      @include hoverStyles()
    }

    .Main-myproject {
      position: absolute;
      top: 28%;
      left: 5%;
      width: 90%;
      height: 8%;
      padding: 1%;
      border-radius: 15px;
      box-sizing: border-box;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .Main-notice-banner {
      position: absolute;
      bottom: 1%;
      left: 5%;
      width: 90%;
      height: 100px;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid black;
      text-align: center;
    }
  }

  /* Main Visual */

  .Main-main {
    position: relative;
    border-radius: 5px;
    width: calc(100% - 200px);
    display: flex;
    flex-wrap: wrap;
    background-color: #E4E5EA;
  
    .Main-progress {
      position: relative;
      padding: 10px;
      margin-top: 50px;
      width: calc(100vw - 200px);
      box-sizing: border-box;
      border: 1px solid black;
      border-radius: 5px;

      .content {
        overflow: auto;
        margin: 10px;
        height: 350px;

        &::-webkit-scrollbar {
          display: none;
        }

        .test1 {
          border: 1px solid black;
          border-radius: 5px;
        }
      }
    } 
  }

  .Main-Mydocument {
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    width: calc(100% - 200px);
    display: flex;
    flex-wrap: wrap;
    background-color: #E4E5EA;

    .Main-progress {
      width: 100%;
      padding: 10px;
      margin-top: 50px;
      width: calc(100vw - 200px);
      box-sizing: border-box;
      border: 1px solid black;
      border-radius: 5px;

      .myDocument {
        width: 100%;
        border-radius: 5px;
        font-size: 20px;

        .order {
          margin: 10px 20px 0;
        }

        .myDocumentTitle {
          margin: 10px 60px 0;
        }
      }

      .myDocumentList {
        width: 90%;
        border-bottom: 2px solid #000000;
        margin: 10px 20px 0;
        display: flex;

        .myDocumentListOrder {
          margin-left: 10px;
          width: 70px;
        }

        .myDocumentTitle {
          margin-left: 130px;
        }
      }
      
    }
  }

  .Main-projectname {
    position: absolute;
    width: 100%;
    height: 50px;
    font-size: 30px;
    padding: 0.5%;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #E4E5EA;
    border-radius: 5px;
    z-index: 1;
  }
}
