/* HEADER */
header {
  width: 100%;
  height: 3000px;
  background-color: #f6f6f6;
}


/* TOP SIDE */
.startheader {
  top: 0;
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: orange;
  display: flex;
  font-size: 16px;
  border: 1px solid red;
  z-index: 1;
}

.startheader .logo {
  position: absolute;
  top: 3px;
  left: 10px;
  background-color: white;
  margin: 3px;
  box-sizing: border-box;
}

.startheader .userid {
  position: absolute;
  top: 3px;
  right: 10px;
  background-color: white;
  margin: 3px;
  box-sizing: border-box;
}


/* MAIN SIDE */
.mainbody {
  position: relative;
  margin-top: 110px;
}

.mainbody .profile {
  position: relative;
  text-align: center;
  background-color: green;
  width: 700px;
  height: 50px;
}

.mainbody .projectlist {
  position: relative;
  text-align: center;
  background-color: skyblue;
  width: 700px;
  height: 50px;
}

.mainbody .projectlist .textLink {
  color: inherit;
  text-decoration: inherit;
}