.Add_btn {
  width: 30px;
  height: 20px;
  background-color: lemonchiffon;
  position: relative;
  left: calc(50% - 15px);
}

.openedModal {
  position: fixed;
  left: 220px;
  top: 170px;
  width: 80%;
  height: 70%;
  background-color: lightsalmon;
  z-index: 10;
}