.KanbanList {
  width: 17vw;
  margin: 3px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  flex-wrap: wrap;
  border: 1px solid red;
  flex: 1;

  .kanbanListTitle {
    padding: 3px;
    width: 17vw;
    max-width: 200px;
    min-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .kanbanListDeadline {
    padding: 3px;
    width: 17vw;
    min-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
