.kanbanListWrap {
  position: relative;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */

 .kanbanTitle {
    width: 200px;
    height: 20px;
    margin: 5px;
    font-size: 20px;
  }
}