.kanbanListWrap {
  position: relative;
  max-width: 30vw;

 .kanbanTitle {
    width: 17vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin: 10px;
    padding: 5px 0;
    font-size: 20px;
  }
}