.kanbanListWrap {
  position: relative;
  width: 25%;
  min-width: 220px;

 .kanbanTitle {
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin: 1vw;
    padding: 5px 0;
    font-size: 20px;
  }
}